.main_section {
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1172px;
    padding: 0 30px 163px 30px;
    margin: 0 auto;
    gap: 30px;

    .col {
      display: flex;
      flex-direction: column;
      gap: 104px;
      flex: 1;
      max-width: 632px;

      &.small {
        max-width: 248px;
      }
    }
  }
}
