.education_section {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &.dark,
  &.orange {
    .education_section_child {
      .child_datetime {
        color: #e94d35;
      }
    }
  }

  &.purple,
  &.light {
    .education_section_child {
      .child_datetime {
        color: #6140e5;
      }
    }
  }

  &.green {
    .education_section_child {
      .child_datetime {
        color: #f48e3e;
      }
    }
  }

  .title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    margin: 0;
  }

  .education_section_child {
    display: flex;
    flex-direction: column;
    gap: 12px;

    * {
      font-family: "Inter", sans-serif;
      transition: 1s;
    }

    .child_title {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      margin: 0;
      letter-spacing: -0.26px;
    }

    .child_description {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #525252;
      letter-spacing: -0.09px;
    }

    .child_datetime {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.18px;
      color: #6140e5;
    }
  }
}
